/* categories.css */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 1;
    padding: 0;
    background-color: #ffffff;
  }
  
  header {
    text-align: center;
    font-size: 1.2rem; 
    letter-spacing: -0.32em;
    color: #912d2d; 
    margin-bottom: -10px;
    font-weight: 625;
    padding: -1px;
  }
  
  #site-title {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  .category-image-section {
    position: relative;
    margin-bottom: 30px;
  }
  
  .category-img {
    width: 100%;
    height: 100vh; /* Ensure image takes up the full window height */
    object-fit: cover;
  }
  
  .image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
  }
  
  /* Category name text style */
  .category-name {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: font-size 0.3s ease; /* Smooth transition for font size */
  }
  
  /* Hover effect for category names */
  .category-name:hover {
    font-size: 1.7em; /* Increase the font size by 0.2em on hover */
  }
  
  /* Ensure the page is optimized for a 1080x1920 resolution (portrait mode) */
  @media (max-width: 1080px) and (max-height: 1920px) {
    .category-img {
      height: 100vh;
    }
  
    .category-name {
      font-size: 1.2em;
    }
  }
  
  footer {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.5rem;
  }
  
  footer p {
    margin: 0;
  }